*.orig
*.meta
.DS_Store


.idea/
bin/
obj/
*.csproj.DotSettings
packages/*

*.sln.DotSettings.user

# Visual Studio 2015/2017 cache/options directory
.vs/

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

